<!DOCTYPE html>
<html ng-app="MoneyNetwork" ng-controller="NavCtrl as n">
<head>
    <title ng-bind="n.texts.appname">Money Network loading</title>
    <link rel="stylesheet" media="all" href="css/all.css"/>

    <!-- angularJS templates - subpages in single page site -->
    <script type="text/ng-template" id="about.html">
        <p>
            Money Network is about money.
            With inspiration from <a href="http://charleseisenstein.net/" target="_blank">Charles Eisenstein</a> and
            <a href="http://www.lietaer.com/" target="_blank">Bernard Lietaer</a>.
            Money is everywhere, money is everything and everything is money.
            This is an attempt to make money free. Make is easier to use complementare money. No more Hammerville.
        </p>
        <br/>
        <p>
            Summary:
        <ul style="list-style-type:disc">
            <li>No registration. User info on client is only for contact info between clients</li>
            <li>Search for contracts in network. Server returns possible contacts</li>
            <li>Free money definition. Use existing money definitions from network or create your own type of money</li>
            <li>Use money to exchange goods and services. Transactions are stored encrypted in block chains or on
                server
            </li>
            <li>Full client side encryption. Everything is full client side encrypted except search for contracts</li>
            <li>A client network. Data on clients. Minimum data on servers. Servers are used for communication between
                clients
            </li>
            <li>Open source. There It is nothing swept under the carpet. Feel free to download, modify and make your own
                website
                or app
            </li>
        </ul>
        </p>
        <!-- end about.html -->
    </script>

    <script type="text/ng-template" id="auth.html">
        <p>
            Login is used to protect data stored in your browser. Password and your data is stored encrypted in your
            browser / on
            your device. Not on a server.
        </p>

        <form ng-hide="a.is_logged_in()" name="device_login_form" ng-submit="a.login_or_register()">
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th style="width:52px"></th>
                    <th style="width:52px"></th>
                    <th style="width:52px"></th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td></td>
                    <td colspan="4">
                        Log in <input type="radio" ng-model="a.register" value="N"> &nbsp;&nbsp;
                        Register <input type="radio" ng-model="a.register" value="Y">
                    </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td colspan="3">
                        <input type="password" name="device_password" ng-model="a.device_password"
                               required ng-minlength="10" ng-maxlength="50" placeholder="Enter password"
                               style="width: 120px">
                    </td>
                    <td><input type="submit" value="Log in" ng-hide="ctrl.register" ng-disabled="a.login_disabled()">
                    </td>
                </tr>
                <tr ng-show="device_login_form.device_password.$error.required">
                    <td colspan="5">Password is a required field</td>
                </tr>
                <tr ng-show="device_login_form.device_password.$error.minlength">
                    <td colspan="5">Minimum password length is 10</td>
                </tr>
                <tr ng-show="device_login_form.device_password.$error.maxlength">
                    <td colspan="5">Maximum password length is 50</td>
                </tr>
                </tbody>

                <tbody ng-show="a.register == 'Y'">
                <tr>
                    <td>Confirm<br>password</td>
                    <td colspan="3">
                        <input type='password' name="confirm_device_password" ng-model="a.confirm_device_password"
                               placeholder="Confirm password"
                               style="width: 120px">
                    </td>
                    <td><input ng-show="a.register" type="submit" value="Register" ng-disabled="a.register_disabled()">
                    </td>
                </tr>
                <tr ng-show="a.confirm_device_password != a.device_password">
                    <td colspan="5">Passwords do not match</td>
                </tr>
                </tbody>

                <tbody>
                <tr>
                    <td></td>
                    <td colspan="4">{{a.login_or_register_error}}</td>
                </tr>
                </tbody>

            </table>
        </form>
        <p ng-show="a.register == 'Y'">
            Please choose a secure password (10-50 characters) and do <b>NOT</b> forget or lose it.
            Remember your password. There is <b>NO</b> help if you forget your password.
            Use "Register" after forgotten password to create a new empty account.
        </p>
        <div style="width: 100%">
            <hr>
        </div>
        <!-- end auth.html -->
    </script>

    <script type="text/ng-template" id="contacts.html">
        <p>
            Money Network contacts. Communication in Money Network is encrypted communication between contracts.
            Use this page to manage your Money Network contracts.
            Search for new contacts, add contracts and verify contacts.
        </p>
        <p>
            Filter:
            <input type="button" value="All" ng-click="c.toogle_filter('all')" style="color: {{c.filters.all}}"/>&nbsp;
            <input type="button" value="New" ng-click="c.toogle_filter('new')" style="color: {{c.filters.new}}"/>&nbsp;
            <input type="button" value="Unverified" ng-click="c.toogle_filter('unverified')" style="color: {{c.filters.unverified}}"/>&nbsp;
            <input type="button" value="Verified" ng-click="c.toogle_filter('verified')" style="color: {{c.filters.verified}}"/>&nbsp;
            <input type="button" value="Ignored" ng-click="c.toogle_filter('ignore')" style="color: {{c.filters.ignore}}"/>&nbsp;
        </p>
        <table>
            <thead>
            <tr>
                <th style="text-align: center"
                    title="User id (ZeroNet or alias) and contact status (new, added, unverfied, verified and ignore)">
                    User
                </th>
                <th></th>
                <th style="text-align: center" colspan="3" title="User information">
                    User information
                </th>
                <th></th>
                <th style="text-align: center">
                    Action
                </th>
            </tr>
            </thead>
            <tbody><tr><td colspan="5">&nbsp;</td></tr></tbody>
            <tbody ng-repeat="x in c.contacts|filter:c.filter_contracts">
            <tr ng-repeat="y in x.search">
                <td ng-hide="y.edit_alias" ng-bind-html="c.get_user_info(x,y)" ng-click="c.edit_user_info(x,y)" title="{{x.cert_user_id}}. Click to edit"></td>
                <td ng-show="y.edit_alias" title="{{c.edit_alias_title}}">
                    <input type="text" ng-model="x.new_alias" style="width: 110px" id="{{x.$$hashKey}}:alias"
                           on-key-enter="c.save_user_info(x,y)" on-key-escape="c.cancel_edit_alias(x,y)">
                </td>
                <td>&nbsp;</td>
                <td ng-bind-html="y.tag"></td>
                <td>:</td>
                <td ng-bind-html="y.value"></td>
                <td>&nbsp;</td>
                <td ng-show="y.row == 1">
                    <input ng-show="x.type == 'new'" type="button" value="Ignore" ng-click="c.ignore_contact(x)"/>
                    <input ng-show="x.type == 'ignore'" type="button" value="Unplonk" ng-click="c.unplonk_contact(x)"/>
                    <input ng-show="x.type == 'new'" type="button" value="Add" ng-click="c.add_contact(x)"/>
                    <input ng-show="x.type == 'ignore'" type="button" value="Add" ng-click="c.add_contact(x)"/>
                    <input ng-show="x.type == 'unverified'" type="button" value="Remove" ng-click="c.remove_contact(x)"/>
                    <input ng-show="x.type == 'unverified'" type="button" value="Verify" ng-click="c.verify_contact(x)"/>
                    <input ng-show="x.type != 'ignore'" type="button" value="Chat" ng-click="c.chat_contact(x)"/>
                </td>
            </tr>
            <tr><td colspan="5">&nbsp;</td></tr>
            </tbody>
        </table>

        <!-- end contacts.html -->
    </script>

    <script type="text/ng-template" id="home.html">
        home.html
        <!-- end home.html -->
    </script>

    <script type="text/ng-template" id="user.html">
        <p>
            It is not required but you should add some info to identify you as user in the Money Network.
            It could be name, email, phone number, foto, company name, url, GPS location or whatever.
            Real or fake values. User info are stored locally in your browser / on your device and are NOT validated by
            anyone.
            The user identification is used when searching for contacts, verifying contacts and is displayed in contact list.
            You decide what information that is revealed to other users in the Money Network.
            You decide when to trust other users in the Money Network.
            Thank you for using the Money Network
        </p>
        <form name="user_info_form" class="css-form" novalidate>
            <p>
                User identification:
                <button type="submit" disabled ng-show="user_info_form.$invalid">
                <span title="Please correct errors" class="glyphicon glyphicon-ok"
                      style="color: green; font-size: larger"></span>
                </button>
                <button type="submit" ng-click="u.update_user_info()" ng-show="user_info_form.$valid">
                <span title="Save changes" class="glyphicon glyphicon-ok"
                      style="color: green; font-size: larger"></span>
                </button>
                <button type="submit" ng-click="u.revert_user_info()">
                <span title="Revert changes" class="glyphicon glyphicon-refresh"
                      style="color: red; font-size: larger"></span>
                </button>
            </p>
            <table border="1">
                <thead>
                <tr>
                    <th style="text-align: center"
                        title="Tag: Name, Email, Phone, Photo, Company, URL and/or GPS. Tags are shared anonymous in tag cloud">
                        Tag
                    </th>
                    <th style="text-align: center" title="Tag value: Username, email address, profile picture etc.">
                        Value
                    </th>
                    <th style="text-align: center"
                        title="Privacy: Search, Public, Unverified, Verified or Hidden. See mouseover texts or click checkbox for more info">
                        Privacy
                        <input type="checkbox" ng-model="u.show_privacy_title"
                               ng-change="u.show_privacy_title_changed()">
                    </th>
                    <th style="text-align: center" ng-show="u.show_privacy_title">Privacy details</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in u.user_info">
                    <td title="Start typing. Select tag. Name, Email, Phone etc.">
                        <input type="text" placeholder="Start typing"
                               ng-model="x.tag" ng-required="u.is_tag_required(x)"
                               uib-typeahead="tag for tag in u.tags | filter:$viewValue | limitTo:8"
                               class="user_info" style="width: 80px">
                    </td>
                    <td title="Enter tag value. Name, email-address, phone number etc">
                        <input type="text"
                               ng-model="x.value" ng-required="u.is_value_required(x)"
                               class="user_info">
                    </td>
                    <td title="{{x.privacy|privacyTitle}}">
                        <input type="text" placeholder="Start typing"
                               ng-model="x.privacy"
                               ng-required="u.is_privacy_required(x)" on-key-enter="u.insert_row(x)"
                               uib-typeahead="privacy for privacy in u.privacy_options | filter:$viewValue | limitTo:8"
                               typeahead-editable="false"
                               class="user_info" style="width: 80px">
                    </td>
                    <td ng-show="u.show_privacy_title">{{x.privacy|privacyTitle}}</td>
                    <td title="Delete row">
                    <span ng-click="u.delete_row(x)"
                          class="glyphicon glyphicon-remove" style="color: red; font-size: larger"></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <p>
                Update:
                <button type="submit" disabled ng-show="user_info_form.$invalid">
                <span title="Please correct errors" class="glyphicon glyphicon-ok"
                      style="color: green; font-size: larger"></span>
                </button>
                <button type="submit" ng-click="u.update_user_info()" ng-show="user_info_form.$valid">
                <span title="Save changes" class="glyphicon glyphicon-ok"
                      style="color: green; font-size: larger"></span>
                </button>
                <button type="submit" ng-click="u.revert_user_info()">
                <span title="Revert changes" class="glyphicon glyphicon-refresh"
                      style="color: red; font-size: larger"></span>
                </button>
            </p>
        </form>

        <p>
            todo: add a delete user data button. Delete user data from data.json. Data user data from localStorage. Log out.
        </p>

        <!-- end user.html -->
    </script>
    <!-- end angularJS templates -->

</head>
<body>

<div class="navbar navbar-fluid-top">

    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#/home">{{n.texts.appname}}</a>

            <div class="container-fluid nav-collapse">
                <table class="main-menu-1-line">
                    <tbody>
                    <tr>
                        <td>
                            <ul class="nav">
                                <li><a href="#/home">Home</a></li>
                                <li><a href="#/user">Account</a></li>
                                <li><a href="#/contacts">Contacts</a></li>
                                <li><a href="#/auth">Log in</a></li>
                                <li><a href="#/logout">Log out</a></li>
                                <li><a href="#/about">About</a></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table class="main-menu-2-lines">
                    <tbody>
                    <tr>
                        <td>
                            <ul class="nav">
                                <li><a href="#/home">Home</a></li>
                                <li><a href="#/user">Account</a></li>
                                <li><a href="#/contacts">Contacts</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="nav">
                                <li><a href="#/auth">Log in</a></li>
                                <li><a href="#/logout">Log out</a></li>
                                <li><a href="#/about">About</a></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid" style="width: 100%">
    <div class="row-fluid">
        <div class="span9">

            <div ng-view style="width: 100%"></div>

        </div>
    </div>
    <!--/row-->

    <footer>
        <div style="width: 100%">
            <p>
                todo: add footer text
            </p>
        </div>
    </footer>

</div>

<script type="text/javascript" src="js/all.js" async></script>

</body>
</html>
